
header {
    display: flex;

    align-items: center;

    height: 4em;
    padding-left: 3em;

    background-color: rgb(11,90,76);
}

header h1 {
    width: 1.2em;
    height: 1.2em;
}

header h1 img {
    width: 1.2em;
}

header a {
    text-decoration : none;

    color: white;
}

li {
    display: inline-block;

    list-style:none;

    padding-left: 3.5em;
}
