button {
    padding: 1.5em 3.5em;
    border-radius: 2.5em;
}

h2 {
    font-size: 2.5em;

    line-height: 1.5em;

    color: white;
}

.main {
    position: absolute;

    margin: 0 5em;
    padding: 0 3em;

    display: flex;

    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#home-img {
    position: absolute;

    top: 38%;
    right: 250px;
    width: 65vh;
    height: 40vh;


}

main nav {
    margin-left: 3em;
}
